@import "tailwindcss";

html,
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    box-sizing: border-box;
}

#c {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: lightblue;
}
